@font-face {
    font-family: blckBrd;
    src: url(BrownBagLunch.ttf);
}

body
{
    width : 100%;
    margin : 0 ;
}

.fullheight{
    width:auto;
    height : 100%;
    background-color : gray;
    background-size:cover;
}

.fullheight h1{
    position: absolute;
    text-align:center;
    top: 35%;
    left:25%;
    font-size : 6vw;
    font-family:blckBrd;
    color : darkblue;
    z-index:10;
    opacity:0.8;
}

    .fullheight .affiche {
        opacity: 100%;
        position: absolute;
        width: 15%;
        height: auto;
        z-index: 11;

        transition: all 0.5s;
    }

    .fullheight .affiche:hover{
        transform : scale(1.1);
    }


    .fullheight #affiche1 {
        top: 25%;
        left: 3%;
    }
    .fullheight #affiche2 {
        top: 25%;
        left: 82%;
    }
    .fullheight #affiche3 {
        top: 80%;
        left: 2%;
    }
    .fullheight #affiche4 {
        top: 83%;
        left: 80%;
    }
    .fullheight #affiche5 {
        top: 20%;
        left: 25%;
    }
    .fullheight #affiche6 {
        top: 80%;
        left: 58%;
    }
    .fullheight #affiche7 {
        top: 75%;
        left: 35%;
    }
    .fullheight #affiche8 {
        top: 20%;
        left: 55%;
    }




