@font-face {
    font-family: blckBrd;
    src: url(BrownBagLunch.ttf);
}

body
{
    width : 100%;
    margin : 0 ;
}

.fullheight{
    width:auto;
    height : 100%;
    background-color : gray;
    background-size:cover;
}

.fullheight h1{
    position: absolute;
    text-align:center;
    top: 50%;
    left:25%;
    font-size : 6.5vw;
    font-family:blckBrd;
    color : white;
    z-index:10;
    opacity:0.6;
}

    .fullheight .affiche {
        padding:1%;
        position: absolute;
        height: 25%;
        width: 10%;
        z-index: 11;
        box-shadow: -1px 2px 5px 5px rgba(0, 0, 0, 0.5), -1px 2px 20px rgba(255, 255, 255, 0.3) inset;
        transition : all 0.5s;
    }

    .fullheight .affiche:hover{
        transform : scale(1.1);
    }

    .fullheight .affiche h1 {
        top:25%;
        left:0;
        font-size: 1.5vw;
        font-family: Century;
        color: white;
    }
    .fullheight #affiche1 {
        background-color :indianred;
        top: 30%;
        left: 18%;
    }
    .fullheight #affiche2 {
        background-color: cornflowerblue;
        top: 35%;
        left: 75%;
    }
    .fullheight #affiche3 {
        background-color: yellowgreen;
        top: 80%;
        left: 20%;
    }
    .fullheight #affiche4 {
        background-color: darkseagreen;
        top: 83%;
        left: 70%;
    }
    .fullheight #affiche5 {
        background-color: steelblue;
        top: 30%;
        left: 50%;
    }




